<a href="https://colab.research.google.com/github/rjkevin/python-for-beginners/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
**Overview**: 
*   Function is a block of reusable code
*   2 types of functions; built in  functions & user defined functions
* You can choose to specify argument(s), keyword argument(s) or default arguments in a function
* Functions can return a value. However, if its not told to 'return'a value it will automatically return None.
* a function can have multiple return values

# Advantage of functions

*  Minimalism - shorter codes - eliminate repetition and save you time (DRY)
* Encapsulation - wrapping a useful code without the need to know about its specifics
* Managebility - split complex codes into manageable chunks. Easier to debug when the need arises
* Reusability - reuse functions for other programs
* Readability - wrap codes in logical and meaningful manner

In [ ]:
print(' Hello World')
print(' Hello World')
print(' Hello World')
print(' Hello World')

 Hello World
 Hello World
 Hello World
 Hello World

In [ ]:
def hello_world():
  print('Hello World') # Amending the main function definitions will have a blanket effect!No need to manually amend each code.

hello_world()
hello_world()
hello_world()
hello_world()

Hello World
Hello World
Hello World
Hello World

# Creating a function:

In [ ]:
# use def to define a function
# defining a function memorizes the function, it doesn't invoke / call it

def hello_world():
  print('Hello World')

In [ ]:
hello_world() # To call a function, you need to type name of the function with open and close parentheses

Hello World

# Calling a function:

In [ ]:
def my_function():
  print('value in function')

my_function()

value in function

# Default parameters:

In [ ]:
def my_country(country='Malaysia'):
  print('I am from',country)

my_country()
my_country('Norway')
my_country('Indonesia')

I am from Malaysia
I am from Norway
I am from Indonesia

# Arguments / arg:

In [ ]:
def name(fname):
  print(fname +' Perumal')

name('Eswaran')
name('Jenita')
name('Mages')

Eswaran Perumal
Jenita Perumal
Mages Perumal

 Passing a list as an argument through a function

In [ ]:
def savings_less_inflation (saving_amount,inflation_rate):
  value = saving_amount*((100-inflation_rate)/100)
  print(' saving after inflation: RM %.2f' %(value))

savings_less_inflation(1000,2)

 saving after inflation: RM 980.00

In [ ]:
savings = [2000,300,40000,500,5000]
for x in savings: 
  savings_less_inflation(x,2)

 saving after inflation: RM 1960.00
 saving after inflation: RM 294.00
 saving after inflation: RM 39200.00
 saving after inflation: RM 490.00
 saving after inflation: RM 4900.00

# Keywords Arguments / kwarg:

In [ ]:
# using key and value syntax 

def country(c1,c2,c3):
  print('I love',c3)

country(c1='malaysia',c2='spain',c3='indonesia')

I love indonesia

In [ ]:
def name (fname, lname):
  print(fname + ' ' +lname)

name('RJ','Kevin')
name('Shiromi','Jayatilake')
name('Amree','Ariff')
name('Ahmad','Nazirul')

RJ Kevin
Shiromi Jayatilake
Amree Ariff
Ahmad Nazirul

In [ ]:
name(lname='Gordon',fname="James") # the order doesn't matter

James Gordon

# Arbitary Arguments (*arg) / Arbitary Keyword Arguments (**kwarg):

Arbitary arguments

In [ ]:
# what if the no. of arguments is not fixed?

def child(*kids): # add * when there is multiple arguments, the func access the arguments as tuples
  print('my youngest kid is',kids[2])

child('lucifer','decker','Amenadial')

my youngest kid is Amenadial

In [6]:
def random_function(*numbers): #arbitary arguments stored as tuple
  print(numbers)

random_function(2,4,5,6,7,7)
random_function(1)

(2, 4, 5, 6, 7, 7)
(1,)

Arbitary Keyword Arguments

In [7]:
def custom_func(**names): # arbitary keyword arguments are stores as dictionary 
  print(names)

custom_func(names='rj', age=29,email='onlyrjkevin@gmail.com')

{'names': 'rj', 'age': 29, 'email': 'onlyrjkevin@gmail.com'}

# print ( ) vs return value:

In [ ]:
def print3():
  print(3) # printing happens within the function
          # function returns nothing
print3()

3

In [ ]:
def return3():
  return 3  # functions returns 3 but is printed in the main program  

return3()

3

In [ ]:
# use return to let function to return a value

def sample(x):
  return x * 5

print(sample(3))
print(sample(4))
print(sample(5))

15
20
25

In [10]:
# function doesn't return a value ==> void function 
def sample2(x):
  x *5

print(sample2(3)) 
print(sample2(4))
print(sample2(5))

None
None
None

In [ ]:
def sample2(x):
  return x + 2

y = 2 + sample2(2)
print(y)

6

# Passing the function when there's no parameters added:

In [ ]:
def conversion(): # because an error will be thrown if no parameters is defined. Can bypass this by adding a pass statement. Nothing happens 
  pass

# Modules
Essentially a collections of functions


```
from < library > import < module > 

or

import < module > 
< module_name > . < functions > 

e.g 
from lxml import html 
html.fromstring( )

```

# Anonymous Functions:
- It creates a function with no names. A one liner code.
- not commonly used but has functions to improve readability of codes
- use keyword called lambda 

```
< lambda > < parameter> : < statement >
```

In [ ]:

f = lambda x:x**2

f(2)

4

In [ ]:
def function(x):
  return x**2

function(2)

4

# Simple use cases:

Simple purchase conversion calculator and recommendation

In [ ]:


def purchase_conversion(no_orders,total_traffic):
  '''Calculates purchase conversion based on no of orders and traffic, returns int '''
  
  conversion = int((no_orders/total_traffic)*100)
  print('Purchase conversion :',conversion,'%')
  print('For every 100 visitors,', conversion,'purchases are made.')
  if conversion > 3:
    print('Recommendation: Traffic to cart could be improved. Run targeted facebook and instagram ads to capture more sales')
  else:
    print('Recommendation: Relook into offerings,promotions and delivery pricing')


  
no_orders= int(input('Enter total orders recieved: '))
total_traffic= int(input('Enter total traffic within time period: '))

purchase_conversion(no_orders,total_traffic)

# Tips:

*   Use a doc string to '''.....''' to explain what your function does particularly the following: 
* What does the function do?
* What are the parameters for the function? 
* What does the function returns?

# References:

*   https://python101.pythonlibrary.org/chapter10_functions.html
*   https://www.py4e.com/html3/04-functions
* Corey Schafer - https://www.youtube.com/watch?v=9Os0o3wzS_I